header {
    background-color: rgb(253, 29, 29);
    color: rgb(250, 138, 34);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: rgb(182, 240, 46);
    color: rgb(43, 241, 53);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}